<h1>All Listings</h1>

<table>
  <tr>
    <th>Listed</th>
    <th>Card</th>
    <th>Edition</th>
    <th>Type</th>
    <th>Condition</th>
    <th>Quantity</th>
    <th>Price</th>

  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.created_at %></td>
      <td><%= listing.card %></td>
      <td><%= listing.edition %></td>
      <td><%= listing.card_type %></td>
      <td><%= listing.condition %></td>
      <td><%= listing.quantity %></td>
      <td><%= listing.price %></td>
      <td><%= link_to 'View Listing', listing %></td>
      <td><%= link_to '(Edit Listing)', edit_listing_path(listing) %></td>
      <td><%= link_to 'Delete', listing_path(listing),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
