<h1>All Listings</h1>

<table>
  <tr>
    <th>Front</th>
    <th>Back</th>
    <th>Listed</th>
    <th>Card</th>
    <th>Edition</th>
    <th>Type</th>
    <th>Condition</th>
    <th>Average Grade</th>
    <th>Graders</th>
    <th>Grade Differential</th>
    <th>Price</th>
    <th>Listed By</th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td><img src=" <%= listing.image_front %>" width="50px" alt="<%= listing.card %>"></td>
      <td><img src=" <%= listing.image_back %>" width="50px" alt="<%= listing.card %>"></td>
      <td><%= listing.created_at.strftime("%Y %B %d - %I:%M %p") %></td>
      <td><strong><%= listing.card %></strong></td>
      <td><%= listing.edition %></td>
      <td><%= listing.card_type %></td>
      <td>
        <% if listing.condition == 1 %>
          Near Mint
        <% elsif listing.condition == 2 %>
          Slightly Played
        <% elsif listing.condition == 3 %>
          Moderately Played
        <% elsif listing.condition == 4 %>
          Heavily Played
        <% else %>
          Not Graded
        <% end %>
      </td>
      <td>
        <% if listing.poll.average('response').round == 1 %>
          Near Mint
        <% elsif listing.poll.average('response').round == 2 %>
          Slightly Played
        <% elsif listing.poll.average('response').round == 3 %>
          Moderately Played
        <% elsif listing.poll.average('response').round == 4 %>
          Heavily Played
        <% else %>
          Not Graded
        <% end %>
      </td>
      <td><%= listing.poll.length %></td>
      <td><%= listing.condition - listing.poll.average('response').round %></td>
      <td>$<%= listing.price %></td>
      <td><%= listing.user.username %></td>
      <td><%= link_to 'View', listing %></td>
      <td>
        <% if current_user.admin %>
          <%= link_to 'Edit', edit_listing_path(listing) %>
        <% end %>
      </td>
      <td>
        <% if current_user.admin %>
          <%= link_to 'Delete', listing_path(listing),
            method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
