<h1>New Listing</h1>

<%= form_for :listing, url: listings_path do |f| %>
  <p>
    <%= f.label :card %>
    <br>
    <%= f.text_field :card %>
  </p>

  <p>
    <%= f.label :edition %>
    <br>
    <%= f.text_field :edition %>
  </p>

  <p>
    <%= f.label :card_type %>
    <br>
    <%= f.select(:card_type, options_for_select([['Non-Foil', 1], ['Foil', 2]], 1)) %>
  </p>
<!--   <p>
    <%= check_box_tag(:card_type) %>
    <%= label_tag(:card_type, "Foil") %>
    <br>
  </p> -->

  <p>
    <label for="listing_condition">Condition</label>
    <br>
    <select id="condition" name="listing[condition]">
      <option selected="selected" value="1">Near Mint</option>
      <option value="2">Slightly Played</option>
      <option value="3">Moderately Played</option>
      <option value="4">Heavily Played</option></select>
  </p>


 <!--  <p>
    <%= f.label :condition %>
    <br>
    <%= select_tag(:condition, options_for_select([['Near Mint', 1], ['Slightly Played', 2], ['Moderately Played', 3], ['Heavily Played', 4]], 1)) %>
  </p> -->
  <!-- <p>
    <%= radio_button_tag(:condition, "Near Mint") %>
    <%= label_tag(:condition, "Near Mint") %>
    <br>

    <%= radio_button_tag(:condition, "Slightly Played") %>
    <%= label_tag(:condition, "Slightly Played") %>
    <br>

    <%= radio_button_tag(:condition, "Moderately Played") %>
    <%= label_tag(:condition, "Moderately Played") %>
    <br>

    <%= radio_button_tag(:condition, "Heavily Played") %>
    <%= label_tag(:condition, "Heavily Played") %>
    <br>
  </p> -->

  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>

  <p>
    <%= f.label :price %>
    <br>
    <%= f.text_field :price %>
    <br>
  </p>

  <p>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :image_front %>
    <br>
    <%= url_field(:listing, :image_front) %>
  </p>

  <p>
    <%= f.label :image_back %>
    <br>
    <%= url_field(:listing, :image_back) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
