<p>
  <strong>Card:</strong>
  <%= @listing.card %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @listing.edition %>
</p>

<p>
  <strong>Type:</strong>
  <%= @listing.card_type %></p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <img src=" <%= @listing.image_front %>" width="300px" alt="<%= @listing.card %>">

  <img src=" <%= @listing.image_back %>" width="300px" alt="<%= @listing.card %>">
</p>

<h2>Comments</h2>
<%= render @listing.comments %>


<h2>Add a comment:</h2>
<%= render "comments/form" %>

