<p>
  <strong>Images:</strong>
  <%= @listing.image_front %>
  <%= @listing.image_back %>
</p>

<p>
  <strong>Card:</strong>
  <%= @listing.card %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @listing.edition %>
</p>

<p>
  <strong>Type:</strong>
  <%= @listing.type %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
