<p><%= link_to 'Edit Listing', edit_listing_path(@listing) %>
<%= link_to 'Delete Listing', listing_path(@listing),
              method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<table>
  <tr>
    <th>Card</th>
    <th>Edition</th>
    <th>Type</th>
  </tr>

  <tr>
    <td><%= @listing.card %></td>
    <td><%= @listing.edition %></td>
    <td><%= @listing.card_type %></td>
  </tr>
</table>

<table>
  <tr>
    <th>Condition</th>
    <th>Price</th>
  </tr>

  <tr>
    <td><%= @listing.condition %></td>
    <td><%= @listing.price %></td>
  </tr>
</table>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <img src=" <%= @listing.image_front %>" width="200px" alt="<%= @listing.card %>">

  <img src=" <%= @listing.image_back %>" width="200px" alt="<%= @listing.card %>">
</p>

<h2>Comments</h2>
<%= render @listing.comments %>


<h2>Add a comment:</h2>
<%= render "comments/form" %>

