<p>
  <% if current_user.admin or current_user == @listing.user %>
    <%= link_to 'Edit Listing', edit_listing_path(@listing) %>
  <% end %>
  <% if current_user.admin %>
    <%= link_to 'Delete', listing_path(@listing),
      method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<h2><%= @listing.card %></h2>
<p>
  <strong>Seller:</strong>
  <%= @listing.user.username %>
</p>
<p>
  <strong>Listed on:</strong>
  <%= @listing.created_at.strftime("%B %d, %Y  at %I:%M %p") %>
</p>
<p>
  <strong>Edition:</strong>
  <%= @listing.edition %>
</p>

<p>
  <strong>Type:</strong>
  <%= @listing.card_type %>
</p>

<p>
  <strong>Condition (according to seller):</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
<strong>Your Grade Rating</strong>
<%= render "polls/form" %>
</p>

<p>
  <img src=" <%= @listing.image_front %>" width="200px" alt="<%= @listing.card %>">

  <img src=" <%= @listing.image_back %>" width="200px" alt="<%= @listing.card %>">
</p>

<h2>Comments</h2>
<%= render @listing.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

