<p>
  <strong>Images:</strong>

  <img src=" <%= @listing.image_front %>" alt="<%= @listing.card %>">

  <img src=" <%= @listing.image_back %>" alt="<%= @listing.card %>">

</p>

<p>
  <strong>Card:</strong>
  <%= @listing.card %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @listing.edition %>
</p>

<p>
  <strong>Type:</strong>
  <%= @listing.type %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>
