<%= form_for([@listing, @listing.comments.build]) do |f| %>
  <p>
    <INPUT type="text" name="commenter" value="<%= current_user.username %>">
  </p>
  <p>
    <%= f.label :My_Comment %>
    <br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
