<%= form_for([@listing, @listing.comments.build]) do |f| %>
  <p>
    <%= f.label :My_Name %>
    <br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :My_Comment %>
    <br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
